{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}


    {% include 'navbar.html.twig' %}

    <img src="{{ asset('build/hotel2.jpg') }}" alt="ACME logo" class="top-image">
    <div class="centered">Centered</div

    {% for message in app.flashes('warning') %}

        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
