{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}


    {% include 'navbar.html.twig' %}

    <img src="{{ asset('build/naslovna.jpg') }}" alt="ACME logo" class="top-image">
    <div id="app">  </div>

    {% for message in app.flashes('warning') %}

        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

<div class="container mt-4">
    <div class="forma">
        <h3 class="form-text">Dobrodošli u našu villu!</h3>
        <p class="form-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <br>
    {{ form_start(form,{'attr':{'id':'dates_form'}}) }}
    {{ form_widget(form.date1,{'attr':{'id':'date1'}}) }}
        {{ form_widget(form.date2,{'attr':{'id':'date2'}}) }}
    {{ form_end(form) }}
        <div class="app"></div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="column">
            <i class="fa fa-star icon fa-5x" aria-hidden="true"></i>
            <h3 class="form-text">Smještaj 4 zvjezdice</h3>
            <p class="form-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column">
            <i class="fa fa-clock-o icon fa-5x" aria-hidden="true"></i>
            <h3 class="form-text">24-satna usluga</h3>
            <p class="form-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column">
            <i class="fa fa-car icon fa-5x" aria-hidden="true"></i>
            <h3 class="form-text">Besplatan parking</h3>
            <p class="form-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3453.9631511976263!2d17.029053911477902!3d43.284415818497436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2sba!4v1599316195606!5m2!1shr!2sba" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Heading 1</h4>
                            <ul class="list-unstyled">
                                <li><a href="#"></a></li>
                                <li><a href="#">Payment Center</a></li>
                                <li><a href="#">Contact Directory</a></li>
                                <li><a href="#">Forms</a></li>
                                <li><a href="#">News and Updates</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Heading 2</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Website Tutorial</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Webmaster</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Heading 3</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Parks and Recreation</a></li>
                                <li><a href="#">Public Works</a></li>
                                <li><a href="#">Police Department</a></li>
                                <li><a href="#">Fire</a></li>
                                <li><a href="#">Mayor and City Council</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2020 - Hotel Villa  All rights reserved.</p>
                    </div>
                </div>


            </div>
        </div>
    </footer>
{% endblock %}


